@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <p class="Error">@ViewBag.ErrorMessage</p>
    </div>
    <div class="back-button">
        <a href="@Url.Action("index", "Pokedex")" class="btn-back">Volver a la búsqueda</a>
    </div>
</body>
</html>
