<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - PokedexApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <div class="navbar">
                <a class="navbar-brand" href="/">Pokédex</a>
            </div>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <hr />
            <p>&copy; 2024 - PokedexApp</p>
        </footer>
    </div>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>





