<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokémon App</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Agregar aquí otros enlaces a archivos CSS, fuentes o scripts -->
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo"><a href="/">Pokémon App</a></h1>
            <nav class="main-nav">
                <ul>
                    @* <li><a href="/">Home</a></li> *@
                    <!-- Agregar aquí más elementos de navegación según sea necesario -->
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <p>2024 Pokémon App. Fgarita.</p>
        </div>
    </footer>

    <!-- Scripts opcionales si es necesario -->
</body>
</html>

